/*Importando Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


/*Declarando variaveis*/
:root {
    --radial: radial-gradient(rgba(255, 0, 0, 0), rgba(126, 17, 128, 0.037), rgba(184, 25, 187, 0.062));
    --base: rgb(18, 18, 18);
    --roxo: #ae17fd;
    --amarelo: #FFB11C;
    --branco: #dbdbdb;
}


/*Seletor universal*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /*Alinhamento e Posicionamento e Tamanho*/
    min-height: 100vh;

    scroll-behavior: smooth;

    /*Estilização*/
    font-size: 1.2vw;
    background-color: var(--base);
}



/*AREA DA NAVEGAÇÃO*/
#navegation {
    /*Alinhamento e Posicionamento e Tamanho*/
    display: flex;
    align-items: center;
    position: fixed;
    left: 1.5vw;
    width: 5.5vw;
    min-width: 60px;
    height: 100vh;
}

#nav-content {
    /*Alinhamento e Posicionamento e Tamanho*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 22vw;
    width: 5.5vw;

    /*Estilização*/
    background-color: rgba(43, 43, 43, 0.24);
    border-radius: 50vw;
}

#nav-content li {
    /*Alinhamento e Posicionamento e Tamanho*/
    width: 55%;
    height: auto;

    /*Estilização*/
    list-style: none;
}

#nav-content li a>img {
    width: 100%;
    height: auto;
}



/*-- AREA DO CONTEUDO --*/
@keyframes gradient-text {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

.texto-bonito {
    /*Alinhamento e Posicionamento e Tamanho*/
    animation: gradient-text 3s linear infinite;


    /*Estilização*/
    background: linear-gradient(to right,
            #AE17FD,
            #5C09E6,
            #30FC93,
            #D409E6);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}


#container {
    /*Alinhamento e Posicionamento e Tamanho*/
    display: flex;
    flex-direction: column;

    /*Estilização*/
    color: var(--branco);
}

#container>section {
    /*Alinhamento e Posicionamento e Tamanho*/
    height: 100vh;
    width: 100%;
    transition: 350ms;

    /*Estilização*/
    background: var(--radial);
}

#home {
    /*Alinhamento e Posicionamento e Tamanho*/
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12%;

    /*Estilização*/
}

#home>article {
    width: 40vw;
}


#home>article h1 {
    /*Alinhamento e Posicionamento e Tamanho*/
    font-size: 3.9rem;

    /*Estilização*/
    font-family: 'Source Code Pro', monospace;
    color: var(--roxo);
}

#home>article p {
    /*Alinhamento e Posicionamento e Tamanho*/
    font-size: 2rem;
    padding-top: 4%;
    padding-left: 4%;

    /*Estilização*/
    font-family: 'Poppins', sans-serif;
}

#home>article>p>bdi {
    /*Alinhamento e Posicionamento e Tamanho*/

    /*Estilização*/
    font-family: 'Source Code Pro', monospace;
    color: var(--roxo);
}

#home>div {
    /*Alinhamento e Posicionamento e Tamanho*/
    width: 23vw;
    min-width: 50px;
    height: 23vw;
    min-height: 50px;

    border-radius: 50vw;

    /*Estilização*/
    background-color: var(--branco);
}

.back-container {
    /*Alinhamento e Posicionamento e Tamanho*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 98vw;
    height: 98vh;
    z-index: -1;

    /*Estilização*/
}

.back-container>img {
    /*Alinhamento e Posicionamento e Tamanho*/
    position: absolute;
    height: 98%;

    /*Estilização*/
    opacity: .03;
}




#sobre {
    /*Alinhamento e Posicionamento e Tamanho*/
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12%;

    /*Estilização*/
}

#sobre>article {
    /*Alinhamento e Posicionamento e Tamanho*/
    float: left;
    width: 40vw;
}

#sobre>article>h2 {
    /*Alinhamento e Posicionamento e Tamanho*/
    font-size: 3.4rem;

    /*Estilização*/
    font-family: 'Source Code Pro', monospace;
    color: var(--roxo);
}

#sobre>article>p {
    /*Alinhamento e Posicionamento e Tamanho*/
    font-size: 1.4rem;
    padding-top: 4%;
    padding-left: 4%;

    /*Estilização*/
    font-family: 'Poppins', sans-serif;
    color: var(--branco);
}

#sobre>div {
    /*Alinhamento e Posicionamento e Tamanho*/
    width: 20vw;
    height: 30vw;

    /*Estilização*/
    background-color: var(--amarelo);
    box-shadow: #ac17fd13 0px 0px 140px;
}



#projetos {
    /*Alinhamento e Posicionamento e Tamanho*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    /*Estilização*/

}

#projetos>h2 {
    /*Alinhamento e Posicionamento e Tamanho*/
    font-size: 3.4rem;
    transition: 350ms;

    /*Estilização*/
    font-family: 'Source Code Pro', monospace;
    color: var(--roxo);
}

#projetos-container {
    /*Alinhamento e Posicionamento e Tamanho*/
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto;
    grid-row: auto auto;
    gap: 5% 5%;


    /*Estilização*/


}

#projetos-container>section {
    /*Alinhamento e Posicionamento e Tamanho*/
    position: relative;
    width: 14vw;
    height: 14vw;

    /*Estilização*/
}

#projetos-container>section>img {
    /*Alinhamento e Posicionamento e Tamanho*/
    width: 100%;
    height: 100%;


    /*Estilização*/
    background-color: var(--amarelo);
    transition: 350ms;
}

#projetos-container>section>img:hover {
    /*Alinhamento e Posicionamento e Tamanho*/
    z-index: 2;
    transform: scale(1.4);
    transform: translate(0%, -10%);

    /*Estilização*/

}

:has(#projetos-container > section > img:hover) :is(#projetos-container > section > img:not(:hover), #projetos > h2) {
    /*Alinhamento e Posicionamento e Tamanho*/

    /*Estilização*/
    filter: blur(4px);
}